<label for="">Server Name</label>

<!-- Event Binding -->
<!-- <input
  type="text"
  name=""
  id=""
  class="form-control"
  (input)="onUpdateServerName($event)"
/> -->

<!-- Two way Binding  -->
<input
  type="text"
  name=""
  id=""
  class="form-control"
  [(ngModel)]="serverName"
/>
<br />
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<!-- <br />
{{ serverName }} -->
<br />
<!-- {{ allowNewServer }} <br /> -->
<!-- {{ serverCreationStatus }} -->
<!-- <p [innerText]="allowNewServer"></p> -->

<!-- Structural Directive  -->
<!-- <p *ngIf="serverCreated">
  Server was created!!! Name is {{ serverName }}
</p> -->
<p *ngIf="serverCreated; else noServer">
  Server was created!!! Name is {{ serverName }}
</p>
<ng-template #noServer>
  <p>No Server was created !!!</p>
</ng-template>

<br />
<!-- <app-server></app-server>
<app-server></app-server> -->
<app-server *ngFor="let server of servers"></app-server>
